.main {
  width: 100vw;
  max-width: 1200px;
  margin: auto;
  background: #00000010;

  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.main tr td,
.main tr th {
  padding: 6px !important;
  text-align: center !important;
}

.main :global(.content-column)tr {
  text-align: left !important;
}

.main :global(.summary-row) {
  background-color: #fffadf;
  font-weight: bold;
}

.main :global(.summary-row .ant-checkbox-wrapper) {
  display: none;
}

.main :global(.summary-row) td {
  text-align: center !important;
}
